# sub-modules
*/target/
*/project/

### Scala template
*.class
*.log

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Sensitive or high-churn files:
.idea/

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/